@font-face {
  font-family: customFont;
  src: url("../../../fonts/static/WorkSans-Light.ttf");
}

#header {
  padding: 10px 0 0 0;
  min-height: 800px;
}
#row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.article {
  width: 40%;
}
#p1 {
  color: #dedddd;
  font-size: 100%;
}
#p2 {
  font-size: 100%;
  width: 60%;
  font-family: customFont;
}

#header h1 {
  font-size: 4.1rem;
  font-family: "Work Sans", sans-serif;
  width: 60%;
}

#btnSignUp {
  padding: 25px;
  border-radius: 40px;
  border: none;
  font-size: 15px;
  background-color: #89d9ef;
}
#boxImage {
  height: 750px;
  margin-left: 5%;
}
@media (max-width: 1050px) {
  #header h1 {
    font-size: 3rem;
    width: 100%;
  }
  #p2 {
    width: 100%;
  }
  .article {
    margin-left: 10%;
  }
  #row {
    justify-content: space-between;
  }
}

@media (max-width: 836px) {
  #header h1 {
    font-size: 3rem;
    width: 100%;
  }
  #row {
    flex-direction: column;
  }
  .article {
    width: 100%;
  }
  #p2 {
    width: 100%;
  }
  #boxImage {
    align-items: flex-start;
    margin-bottom: 20px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  #row {
    width: 100%;
  }
  #boxImage {
    height: 500px;
    margin-left: 20%;
  }
}
@media (max-width: 667px) {
  #header h1 {
    font-size: 3rem;
  }
  #p2 {
    font-size: 1rem;
  }
  #btnSignUp {
    padding: 20px;
  }
  .btnContainer {
    width: 37%;
    margin-left: 23%;
  }
}
@media (max-width: 599px) {
  #header h1 {
    font-size: 2.5rem;
  }
  #p2 {
    font-size: 1rem;
  }
}
@media (max-width: 529px) {
  #header h1 {
    font-size: 1.9rem;
  }
}

@media (max-width: 468px) {
  #p1 {
    font-size: 15px;
  }
  #p2 {
    font-size: 13px;
  }
  #header h1 {
    font-size: 1.7rem;
  }
  #boxImage {
    height: 350px;
    margin-left: 20%;
  }
  #btnSignUp {
    font-size: 12px;
  }
  .btnContainer {
    width: 50%;
  }
}
